.modal {
    border: 1px solid #E88C90;
}



.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    height: 100%;
    min-width: 450px;
    gap: 15px;
    .titleBox {
        display: flex;
        justify-content: space-between;
    }
    .buttonBox {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}